version: '3.8'

services:
  api:
    build: .
    ports:
      - "3002:${PORT}"
    env_file:
      - .env.docker
    depends_on:
      - db

  db:
    image: postgres:16-alpine
    restart: always
    env_file:
      - .env.docker
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
